#app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3350;
}

html{
    background: #343a40;
}